    <header>
      <h1> {{ .Site.Title }} </h1>
      <nav>
      {{ $title := lower .Title }}
      {{ $section := lower .Section }}
        <a href="{{ .Site.BaseURL }}" title="Home">home</a>
      {{ range .Site.Menus.main }}
      {{ $name := lower .Name }}
        <a href="{{ .URL }}" title="{{ .Name }}">{{ lower .Name }}</a>
      {{end}}

      {{ range .Site.Menus.feed }}
      {{ $name := lower .Name}}
        <a href="{{ .URL }}" title="{{ .Name }}">{{ lower .Name}}</a>
      {{end}}
      </nav>
    </ul>
  </header>

